[submodule "dotfiles/ulauncher/.config/ulauncher/user-themes/SeaOwl-Ulauncher-theme"]
	path = dotfiles/ulauncher/.config/ulauncher/user-themes/SeaOwl-Ulauncher-theme
	url = https://github.com/Surendrajat/SeaOwl-Ulauncher-theme
